<%- include('../main.ejs') %> 

<div class="text-center">
    <img src="/static/dash/img/think.svg" style="max-height: 90px">
    <h4 class="pt-3">save your <b>imagination</b> here!</h4>
  </div>

<%- include('../footer.ejs') %> 