          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Terminar Sessão</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Tens a certeza que queres terminar sessão?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                  <a href="/logout" class="btn btn-primary">Terminar Sessão</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Settings -->
          <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelSettings" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelSettings">Definições</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="post">
                <div class="d-flex align-items-start">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Utilizador</button>
                    <button class="nav-link text-decoration-line-through" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" disabled>Notificações</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Segurança</button>
                  </div>
                  <div class="d-flex me-3" style="height: 200px;">
                    <div class="vr"></div>
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">

                      <div class="mb-3 row">
                        <label for="username" class="col-auto col-form-label">Nome de Utilizador</label>
                        <div class="col-auto">
                          <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>">

                        </div>
                      </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">

                      <div class="mb-3 row">
                        <label for="password" class="col-auto col-form-label">Autenticação em 2 Fatores</label>
                        <div class="col-auto">
                          <button type="button" id="2fa-remove" class="btn btn-danger" style="display: <%= user.tfa != null? 'block' : 'none' %>;" onclick="remove2fa()">Remover</button>
                          <button type="button" id="2fa-activate" class="btn btn-success" style="display: <%= user.tfa == null? 'block' : 'none' %>;" onclick="getQrCode()" >Ativar</button>
                          <div class=" align-items-start" id="2fa_settings" style="display: none;">

                            <img src="" id="qrcodeplacer">

                            <div>
                              
                              <div class="input-group mb-3">
                                <input type="number" class="form-control" aria-describedby="button-addon2" id="2fa-value">
                                <button class="btn btn-info text-white" type="button" id="button-addon2" onclick="verifyQRCode()">Verificar</button>
                                <input type="hidden" id="qr-secret" value="">
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                <a href="#" class="btn btn-success" onclick="updateSettings()">Guardar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        </div>

        </div>
        <!---Container Fluid-->
      </div>
      
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="/static/dash/vendor/jquery/jquery.min.js"></script>
  
  <script src="/static/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/static/dash/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/dash/js/ruang-admin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
 <!--<script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool'></script>-->

  <script>

    let notification = document.getElementById('notification_toast');
    const notifyBootstrap = bootstrap.Toast.getOrCreateInstance(notification)
    notifyBootstrap.show()

   function getQrCode() {
      fetch('/getQRCode', {
        method: 'get',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById('qrcodeplacer').src = data.data_url;
        document.getElementById('2fa_settings').style.display = 'block';
        document.getElementById('qr-secret').value = data.secret;
      });
    }

  
    function verifyQRCode() {
      const secret = document.getElementById('qr-secret').value;
      const value = document.getElementById('2fa-value').value;
      fetch('/verify', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          secret,
          token: value
        })
      })
      .then(response => response.json())
      .then(data => {
        if(data.verified) {
          showToast('Código verificado com sucesso. 2FA Ativado!', 'success');
          document.getElementById('2fa-activate').style.display = 'none';
          document.getElementById('2fa-remove').style.display = 'block';
          document.getElementById('2fa_settings').style.display = 'none';

        } else {
          showToast('Código inválido', 'danger');
        }
      });
    }

    function remove2fa() {
      fetch('/remove2fa', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => response.json())
      .then(data => {
        if(data.success) {
          showToast('Autenticação em 2 Fatores removida com sucesso', 'success');

          document.getElementById('2fa-activate').style.display = 'block';
          document.getElementById('2fa-remove').style.display = 'none';

        } else {
          showToast('Erro ao remover autenticação em 2 Fatores', 'danger');
        }
      });
    }

    function updateSettings() {
      const username = document.getElementById('username').value;
      fetch('/updateSettings', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          username
        })
      })
      .then(response => response.json())
      .then(data => {
        if(data.success) {
          showToast('Definições atualizadas com sucesso', 'success');
          document.getElementById('user-username').innerText = username;
        } else {
          showToast('Erro ao atualizar definições', 'danger');
        }
      });
    }

    function showToast(str, type) {
      const toastLiveExample = document.getElementById('liveToast')

      if(type == 'success') {
        toastLiveExample.classList.remove('text-bg-danger');
        toastLiveExample.classList.add('text-bg-success');
      } else {
        toastLiveExample.classList.remove('text-bg-success');
        toastLiveExample.classList.add('text-bg-danger');
      }

      toastLiveExample.querySelector('.toast-body').innerText = str;
  
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastBootstrap.show()
        
      
    }



  </script>

</body>

</html>