<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/dash/img/logo/VALDOTXUBA.png" rel="icon">
    <title>Val do TGEIO20</title>

    <link href="/static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/dash/css/ruang-admin.min.css" rel="stylesheet">
    

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker@latest/dist/css/default/zebra_datepicker.min.css">
    <link href="https://fonts.cdnfonts.com/css/nunito" rel="stylesheet">
    <link rel="stylesheet" href="/static/dash/vendor/datatables/dataTables.bootstrap4.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.0/af-2.7.0/b-3.1.0/b-html5-3.1.0/b-print-3.1.0/sc-2.4.3/sb-1.7.1/sp-2.3.1/sl-2.0.3/datatables.min.css" rel="stylesheet">
 

    <script src="/static/dash/vendor/jquery/jquery.min.js"></script>
    <script src="/static/dash/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/dash/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.0/af-2.7.0/b-3.1.0/b-html5-3.1.0/b-print-3.1.0/sc-2.4.3/sb-1.7.1/sp-2.3.1/sl-2.0.3/datatables.min.js"></script>


    <style>
        @import url('https://fonts.cdnfonts.com/css/nunito');
        html {
            font-family: Nunito
        }

        :root {
            --font-family-sans-serif: "Nunito"
            
        }
    </style>


<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="font-family:Nunito;">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon">
                    <img src="/static/dash/img/logo/VALDOTXUBA.png">
                </div>
                <div class="sidebar-brand-text mx-3" style="font-family:Nunito;">Val do TGEIO20</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Página Inicial</span></a>
            </li>
            <hr class="sidebar-divider border border-secondary">
            <% if(user.perms=='admin' ) { %>
                <div class="sidebar-heading">
                    Administrador
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/students">
                        <i class='fas fa-user-cog'></i>
                        <span>Gerir Utilizadores</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/classes">
                        <i class='fa fa-group'></i>
                        <span>Gerir Módulos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/registrations">
                        <i class='fas fa-clipboard'></i>
                        <span>Gerir Inscrições</span>
                    </a>
                </li>
                <hr class="sidebar-divider border border-secondary">
                <% } %>
                    <% if(user.perms=="professor" || user.perms == 'admin') { %>
                        <div class="sidebar-heading">
                            Professor
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="/prof/classes">
                                <i class='fas fa-swatchbook'></i>
                                <span>Ver Módulos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/prof/stats">
                                <i class='fas fa-fw fa-chart-area'></i>
                                <span>Estatísticas</span>
                            </a>
                        </li>
                        <hr class="sidebar-divider border border-secondary">
                        <% } %> 
                        <div class="sidebar-heading">
                            Aluno
                        </div>
                            <!--<li class="nav-item active">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
                                    aria-expanded="true" aria-controls="collapsePage">
                                    <i class="fas fa-fw fa-columns"></i>
                                    <span>Pages</span>
                                </a>
                                <div id="collapsePage" class="collapse show" aria-labelledby="headingPage"
                                    data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Example Pages</h6>
                                        <a class="collapse-item" href="login.html">Login</a>
                                        <a class="collapse-item" href="register.html">Register</a>
                                        <a class="collapse-item" href="404.html">404 Page</a>
                                        <a class="collapse-item active" href="blank.html">Blank Page</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="charts.html">
                                    <i class="fas fa-fw fa-chart-area"></i>
                                    <span>Charts</span>
                                </a>
                            </li>-->
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars  text-white"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="/static/dash/img/boy.png"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small" id="user-username">
                                    <%= user.username %>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#settingsModal">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-800"></i>
                                    Definições
                                </a>

                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 " style="color: red;"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                <!--
                <div class="container-fluid" id="container-wrapper">
                </div>
                -->
                <%- message  %> 

                <!-- breadcrumb
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                        </ol>
                    </div>
                     breadcrumb-->

    