<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/dash/img/logo/VALDOTXUBA.png" rel="icon">
    <title>Val do TGEIO20</title>
    <link href="/static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dash/css/ruang-admin.min.css" rel="stylesheet">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker@latest/dist/css/default/zebra_datepicker.min.css">


<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon">
                    <img src="/static/dash/img/logo/VALDOTXUBA.png">
                </div>
                <div class="sidebar-brand-text mx-3">Val do TGEIO20</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Página Inicial</span></a>
            </li>
            <hr class="sidebar-divider">
            <% if(user.perms=='admin' ) { %>
                <div class="sidebar-heading">
                    Administrador
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/students">
                        <i class='fas fa-user-cog'></i>
                        <span>Gerir Utilizadores</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/classes">
                        <i class='fa fa-group'></i>
                        <span>Gerir Módulos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/registrations">
                        <i class='fas fa-clipboard'></i>
                        <span>Gerir Inscrições</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
                <% } %>
                    <% if(user.perms=="professor" || user.perms == 'admin') { %>
                        <div class="sidebar-heading">
                            Professor
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="/prof/classes">
                                <i class='fas fa-swatchbook'></i>
                                <span>Ver Módulos</span>
                            </a>
                            <a class="nav-link" href="/prof/classes">
                                <i class='fas fa-fw fa-chart-area'></i>
                                <span>Estatísticas</span>
                            </a>
                        </li>
                        <hr class="sidebar-divider">
                        <% } %> 
                        <div class="sidebar-heading">
                            Aluno
                        </div>
                            <!--<li class="nav-item active">
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage"
                                    aria-expanded="true" aria-controls="collapsePage">
                                    <i class="fas fa-fw fa-columns"></i>
                                    <span>Pages</span>
                                </a>
                                <div id="collapsePage" class="collapse show" aria-labelledby="headingPage"
                                    data-parent="#accordionSidebar">
                                    <div class="bg-white py-2 collapse-inner rounded">
                                        <h6 class="collapse-header">Example Pages</h6>
                                        <a class="collapse-item" href="login.html">Login</a>
                                        <a class="collapse-item" href="register.html">Register</a>
                                        <a class="collapse-item" href="404.html">404 Page</a>
                                        <a class="collapse-item active" href="blank.html">Blank Page</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="charts.html">
                                    <i class="fas fa-fw fa-chart-area"></i>
                                    <span>Charts</span>
                                </a>
                            </li>-->
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="/static/dash/img/boy.png"
                                    style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">
                                    <%= user.username %>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 " style="color: red;"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->

                
                <div class="container-fluid" id="container-wrapper">
                    <%- message  %> 
                </div>

                <!-- breadcrumb
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="./">Home</a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
                        </ol>
                    </div>
                     breadcrumb-->
